services:
  postgres:
    image: postgres:15
    container_name: my-postgres-hello-larin-avito-2025
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 3s
      timeout: 5s
      retries: 15
      start_period: 10s
  app:
    build: .
    container_name: my-app-hello-larin-avito-2025
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "${APP_PORT}:8080"
    networks:
      - app-network
    env_file:
      - .env
volumes:
  pgdata:
networks:
  app-network:
    driver: bridge
